{% extends "registro/base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<form action="" method="post" autocomplete="off">
    <div style="padding-bottom: 3%;">
      <a href="{% url 'lista_alumnos' %}" class="btn btn-secondary btn-block btn-lg">
	<i class="fas fa-stream"></i>Regresar al listado de alumnos
      </a>
    </div>
    {% csrf_token %}
    {{form.no_control|as_crispy_field}}
    {{form.nombre|as_crispy_field}}
    <div class="row">
      <div class="col-md-6">
        {{form.apellido_paterno|as_crispy_field}}
      </div>
      <div class="col-md-6">
        {{form.apellido_materno|as_crispy_field}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {{form.cuatrimestre|as_crispy_field}}
      </div>
      <div class="col-md-6">
        {{form.grupo|as_crispy_field}}
      </div>
    </div>
    <div class="row" style="padding-top: 3%;">
      <div class="col-md-8">
        <button type="submit"><i class="fa fa-save"></i>Enviar a DB</button>
      </div>
    </div>
</form>
{% endblock content %} 
