{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<form action="" method="post" autocomplete="off" style="padding-top: 3%;" enctype="multipart/form-data">
  {%csrf_token%}
  {{form.nombre_producto|as_crispy_field}}
  <div class="row">
    <div class="col-md-6">
      {{form.codigo_producto|as_crispy_field}}
    </div>
    <div class="col-md-6">
      {{form.codigo_proveedor|as_crispy_field}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      {{form.precio_unidad|as_crispy_field}}
    </div>
    <div class="col-md-6">
      {{form.unidad_existencia|as_crispy_field}}
    </div>
  </div>
  {{form.Descripcion_producto|as_crispy_field}}
  {{form.foto_producto|as_crispy_field}}
  <div class="row" style="padding-top: 3%;">
    <div class="col-md-8 d-grid gap-2 col-6 mx-auto">
      <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
    </div>
  </div>
  <br/>
</form>

{% endblock content %} 